DansMaRue/.DS_Store
R57-DansMaRue-iOS/DansMaRue.xcodeproj/project.xcworkspace/xcshareddata/
R57-DansMaRue-iOS/DansMaRue.xcodeproj/project.xcworkspace/xcuserdata/
R57-DansMaRue-iOS/DansMaRue.xcodeproj/xcuserdata/*
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
.DS_Store
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

